* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

/* Generiche */
body {
  width: 100%;
  background-image: url(../img/bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

#wrapper {
  width: 30%;
  margin: auto;
  background-color: rgba(255, 0, 0, 0.5);
  text-align: center;
}

.blue {
  color: blue;
}

.red {
  color: red;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}
/* fine generiche */

header,
main {
  padding: 20px;
}

#header-content {
  width: 70%;
  margin: auto;
  position: relative;
}

#header-content i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

#header-content i.fa-chevron-left {
  right: 100%;
}

#header-content i.fa-chevron-right {
  left: 100%;
}

#mese {
  text-transform: capitalize;
}

ul#days {
  list-style: none;
  width: 70%;
  margin: auto;
}

li.single-day {
  padding: 10px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.8);
  /* display: table; */
  margin-bottom: 3px;
  text-align: center;
}

@media screen and (max-width: 1070px) {

  #wrapper {
    width: 60%;
  }

  ul#days {
    width: 70%;
    margin: auto;
  }

  h1#mese {
    font-size: 30px;
  }

  h3#anno {
    font-size: 20px;
  }

}
